@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}


/*nav hover state*/
@mixin nav-activestate() {			
	background: #fbfbfb;
	text-decoration: none;
	color: $colour-accent;
	text-shadow: none;
	@include transition(opacity, .1s, ease-in);
}