h1 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: $txt-heading-main;
  @include font-size(7.2);
  line-height: 1em;
  margin: 0 0 .75em 0;
  }
  
h3 {
  font-family: 'Bree Serif', serif;
 text-align: center; 
  font-weight: normal;
  @include font-size(2.8);
  margin: 0 0 2em 0;
  line-height: 1.2em;
}    
  
a {
  color: $colour-highlight;
  
  &:hover {
	text-decoration: none;  
  }
  
}

p {
	line-height: 1.5em;
	margin: 0 0 1em;
}