@font-face {
	font-family: 'any-old-icon';
	src:url('fonts/any-old-icon.eot');
	src:url('fonts/any-old-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/any-old-icon.woff') format('woff'),
		url('fonts/any-old-icon.ttf') format('truetype'),
		url('fonts/any-old-icon.svg#any-old-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'any-old-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.pavitra-s-tandon-only-goodness, .ian-yates-y-fronts, .pavitra-s-tandon-chat-for-lovers, .muhamad-bahrul-ulum-log-out, .muhamad-bahrul-ulum-log-in, .justin-skull-ribbon, .justin-burns-skull, .justin-burns-skull-badge, .designmodo-settings, .designmodo-location, .designmodo-like, .cole-townsend-pencil, .cole-townsend-check, .cole-townsend-chat, .ian-yates-porridge, .ian-yates-mr-whippy, .ian-yates-milk, .aleks-dorohovich-rocket, .vincent-gschwindemann-sun, .vectortuts-pirate-panda, .sanjit-saha-afro, .samuel-sosina-command-line, .quin-robinson-casual-shoe, .michael-howarth-tardis, .kenneth-bielinski-timer, .juan-ortiz-zaforas-plug-f-female, .juan-ortiz-zaforas-plug-c-female, .juan-gomez-alzaga-rocking-horse, .juan-gomez-alzaga-paint-brush, .juan-gomez-alzaga-leaf, .juan-gomez-alzaga-bird, .jeffrey-herrera-beer-mug, .jack-rugile-anchor, .ilias-ismanalijev-batman, .corinne-ducusin-doumbek, .aleks-dorohovich-triforce, .steve-debeus-farm, .patrik-larsson-pokemon, .patrik-larsson-pakman, .ordog-zoltan-canon, .johana-barretto-kitty, .johana-barretto-kitty-stripy, .jj-moi-manga-poison, .jj-moi-manga-eye, .jj-moi-kneel, .dom-waters-speedo, .dom-waters-knife, .derek-mui-tie, .derek-mui-invader, .darren-reay-telephone-box, .darren-reay-pen-nib, .arno-hattingh-park, .anton-boshoff-headset, .joshua-barker-landscape, .joshua-barker-house, .jory-raphael-cart, .johan-manuel-hernandez-record-player, .danis-lou-joystick, .christina-pedersen-walkman, .christina-pedersen-cassette, .chris-spittles-unpinned, .chris-spittles-save, .chris-spittles-pinned, .chris-spittles-health, .chris-spittles-geo-location, .cesgra-globe, .matt-hakes-spectacles, .matt-hakes-moustache, .ian-yates-creative-commons {
	font-family: 'any-old-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.pavitra-s-tandon-only-goodness:before {
	content: "\e000";
}
.ian-yates-y-fronts:before {
	content: "\e001";
}
.pavitra-s-tandon-chat-for-lovers:before {
	content: "\e002";
}
.muhamad-bahrul-ulum-log-out:before {
	content: "\e003";
}
.muhamad-bahrul-ulum-log-in:before {
	content: "\e004";
}
.justin-skull-ribbon:before {
	content: "\e005";
}
.justin-burns-skull:before {
	content: "\e006";
}
.justin-burns-skull-badge:before {
	content: "\e007";
}
.designmodo-settings:before {
	content: "\e008";
}
.designmodo-location:before {
	content: "\e009";
}
.designmodo-like:before {
	content: "\e00a";
}
.cole-townsend-pencil:before {
	content: "\e00b";
}
.cole-townsend-check:before {
	content: "\e00c";
}
.cole-townsend-chat:before {
	content: "\e00d";
}
.ian-yates-porridge:before {
	content: "\e00e";
}
.ian-yates-mr-whippy:before {
	content: "\e00f";
}
.ian-yates-milk:before {
	content: "\e010";
}
.aleks-dorohovich-rocket:before {
	content: "\e011";
}
.vincent-gschwindemann-sun:before {
	content: "\e012";
}
.vectortuts-pirate-panda:before {
	content: "\e013";
}
.sanjit-saha-afro:before {
	content: "\e014";
}
.samuel-sosina-command-line:before {
	content: "\e015";
}
.quin-robinson-casual-shoe:before {
	content: "\e016";
}
.michael-howarth-tardis:before {
	content: "\e017";
}
.kenneth-bielinski-timer:before {
	content: "\e018";
}
.juan-ortiz-zaforas-plug-f-female:before {
	content: "\e019";
}
.juan-ortiz-zaforas-plug-c-female:before {
	content: "\e01a";
}
.juan-gomez-alzaga-rocking-horse:before {
	content: "\e01b";
}
.juan-gomez-alzaga-paint-brush:before {
	content: "\e01c";
}
.juan-gomez-alzaga-leaf:before {
	content: "\e01d";
}
.juan-gomez-alzaga-bird:before {
	content: "\e01e";
}
.jeffrey-herrera-beer-mug:before {
	content: "\e01f";
}
.jack-rugile-anchor:before {
	content: "\e020";
}
.ilias-ismanalijev-batman:before {
	content: "\e021";
}
.corinne-ducusin-doumbek:before {
	content: "\e022";
}
.aleks-dorohovich-triforce:before {
	content: "\e023";
}
.steve-debeus-farm:before {
	content: "\e024";
}
.patrik-larsson-pokemon:before {
	content: "\e025";
}
.patrik-larsson-pakman:before {
	content: "\e026";
}
.ordog-zoltan-canon:before {
	content: "\e027";
}
.johana-barretto-kitty:before {
	content: "\e028";
}
.johana-barretto-kitty-stripy:before {
	content: "\e029";
}
.jj-moi-manga-poison:before {
	content: "\e02a";
}
.jj-moi-manga-eye:before {
	content: "\e02b";
}
.jj-moi-kneel:before {
	content: "\e02c";
}
.dom-waters-speedo:before {
	content: "\e02d";
}
.dom-waters-knife:before {
	content: "\e02e";
}
.derek-mui-tie:before {
	content: "\e02f";
}
.derek-mui-invader:before {
	content: "\e030";
}
.darren-reay-telephone-box:before {
	content: "\e031";
}
.darren-reay-pen-nib:before {
	content: "\e032";
}
.arno-hattingh-park:before {
	content: "\e033";
}
.anton-boshoff-headset:before {
	content: "\e034";
}
.joshua-barker-landscape:before {
	content: "\e035";
}
.joshua-barker-house:before {
	content: "\e036";
}
.jory-raphael-cart:before {
	content: "\e037";
}
.johan-manuel-hernandez-record-player:before {
	content: "\e038";
}
.danis-lou-joystick:before {
	content: "\e039";
}
.christina-pedersen-walkman:before {
	content: "\e03a";
}
.christina-pedersen-cassette:before {
	content: "\e03b";
}
.chris-spittles-unpinned:before {
	content: "\e03c";
}
.chris-spittles-save:before {
	content: "\e03d";
}
.chris-spittles-pinned:before {
	content: "\e03e";
}
.chris-spittles-health:before {
	content: "\e03f";
}
.chris-spittles-geo-location:before {
	content: "\e040";
}
.cesgra-globe:before {
	content: "\e041";
}
.matt-hakes-spectacles:before {
	content: "\e042";
}
.matt-hakes-moustache:before {
	content: "\e043";
}
.ian-yates-creative-commons:before {
	content: "\e044";
}
